@using System.Net.Mail
@using MailDev.Client.MailKit
@using MimeKit
@inject MailKitClientFactory MailKitFactory
@rendermode InteractiveServer

<button
    class="btn @(isSubscribed ? "btn-danger" : "btn-primary")"
    @onclick="ToggleSubscribe"
>
    @(isSubscribed ? "Unsubscribe" : "Subscribe")
</button>

@code {
    private bool isSubscribed = false;

    private async Task ToggleSubscribe() {
        isSubscribed = !isSubscribed;
        var smtpClient = await MailKitFactory.GetSmtpClientAsync();

        using var message = new MailMessage("newsletter@yourcompany.com", "useremail@gmail.com");
        if (isSubscribed) {
            message.Subject = "Welcome to our newsletter!";
            message.Body = "Thank you for subscribing to our newsletter!";
        }
        else {
            message.Subject = "You are unsubscribed from our newsletter!";
            message.Body = "Sorry to see you go. We hope you will come back soon!";
        }

        await smtpClient.SendAsync(MimeMessage.CreateFromMailMessage(message));
    }
}